<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ffs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98A29C6D1DD6B063007AE8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98A29C811DD6B064007AE8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98A29C8C1DD6B064007AE8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
